.form-reset {
  font-size: 1.9em;
  width: 100px;
  text-align:center;
  margin-left: 40px;
}

h5 {
  font-size: 1.2em;
  text-align:center;
  margin-left: 10px;
  margin-top: 10px;
  width: 350px;
  font-family: 'Montserrat', sans-serif;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 400px;
  font-family: 'Montserrat', sans-serif;
}

.input-email {
  width: 300px;
  margin-left: 30px;
  margin-top: -10px;
}