@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.menu-task {
  font-size: 1.2em;
  list-style-type: none;
  text-align: right;
}
.btn-success {
  margin-left: 40px;
}

.btn-warning dropdown-toggle dropdown-toggle-split {
  margin-right: 20px;
}

.btn-danger {
  margin-left: 35px;
}

.task-list {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: -20px;
}

li a {
    margin: 20px 15px;
 }
 li {
  list-style-type: none;
  display: inline; 
  /* color: black; */
   position: static;
  padding: 14px 16px;
  text-decoration: none; 
  font-family: 'Cabin', sans-serif;
  font-size: 1.2em;
  list-style-type: none;
  margin-right: 2em;
}
.completed {
  font-size: 1.3em;
    color: rgb(95, 90, 90);
    text-decoration: line-through;
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.uncompleted {
    display: inline;
    /* padding: 20px 60px;
    margin: 20px 20px; */
    
}
