@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva|Source+Sans+Pro&display=swap');

.main-page {
    color: #0a2129;
}

h2 {
  font-size: 3em;
  font-family: 'Mansalva', cursive;
  text-align: center;
  padding: 90px 50px 10px 50px;

}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 300px;
}


/* Boostrap Buttons Styling */

.btn-outline-primary {
  margin-left: 600px;
  margin-right: -500px;
  font-family: Raleway-SemiBold;
  font-size: 35px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 40px;
  border: 2px solid rgba(108, 89, 179, 0.75);
  border-radius: 80px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-outline-primary:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

/* li a {
   padding: 40px 90px;
} */
