@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*:focus {
  outline: none;
} 
 .inline-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 300px;
    box-shadow: none; 
    color: rgb(13, 67, 138); 
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.inline-input:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none; 
}

.button-signin {
  margin-top: 40px;
  margin-left: 30px;
  width: 120px;
  height: 32px;
  background: #3faecf;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
/* box */
body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 14px;
  color: rgb(4, 18, 54);
  font-weight: 300;

}
#signup-box {
  position: relative;
  margin: 5% auto;
  width: 800px;
  height: 475px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(100, 129, 226, 0.555);
}
.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
.form-group {
  margin-top: 30px;
}

.title-auth {
  font-weight: 550;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
}

.right {
  background-image: url('./image/imgg.jpg');
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 340px;
  height: 475px;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

.btn-linkedin {
  margin-top: 60px;
  background: #2867b2;
  color: white;
  font-size: 0.9em;
}

.btn-github{
  background: rgba(240, 234, 234, 0.527);
  color:black;
  font-size: 0.9em;
}

.fa-linkedin-square {
  margin: 6px;
}

.fa-github {
  margin: 6px;
}

