@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.inline-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;  
}

.inline-input:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none; 
}

.title-input {
  font-family: 'Acme', sans-serif;
  display: block;
  width: 500px;
  text-align: left;
  margin-left: 30px;
}

.btn-outline-success {
    position: absolute;
}

.border-box {
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 3px solid #c6c9cc;
    width: 600px;
    height: 550px;
    position: relative;
    top: 100px;
    left: 550px;  
}

p {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.9em;
}

.btn-box-gradient {
    display: flex; 
    justify-content: center;
    align-items: center; 
    align-content: center; 
    flex-wrap: wrap; 
    width: 95%;
    margin: auto;
    
  font-family: 'Comfortaa', cursive;    
    
  }
  .btn-gradient {
    width: 200px; 
    height: 50px;
    margin: 20px;
    margin-left: 190px;
    margin-top: 60px;
    
    font-size: 1.5em;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 2px 20px -5px grey;
    border-radius: 35px;
    cursor: pointer;
    font-weight: 550;
   
   }
   
  /* здесь начинается волшебство */
  .kvasov-btn-gradient:hover {
    background-position: right center; /* изменить направление движения цвета можно здесь */
    color: #ffffff;
  }

  .btn-color-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }