@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
.title-task {
    font-family: 'Libre Baskerville', serif;
}
.btn-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: 30px;
  font-size: 16px;
  white-space: normal; /* восстанавливаем свойству значение по умолчанию */
  
}

.fa-edit {
  position: relative;
  left: 2px;
  top: 13px;
  font-size:30px;
}

.fa-eye {
  position: relative;
  left: -1px;
  top: 11px;
  font-size:30px;

}

.fa-trash {
  font-size:30px;
}

.fa-check {
  font-size:30px;
}

.buttons {
    margin: 150px ;
}

click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #bdcadb;
}
.option-input:checked {
  background: #0a84e9;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
